name: Build and Push Docker Images

on:
  push:
    branches: [ main ]
    # También puedes agregar más branches si usas otro nombre como master, develop, etc.

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      
      # Construir y publicar PWA
      - name: Build and push PWA image
        uses: docker/build-push-action@v4
        with:
          context: ./pwa
          push: true
          tags: dtiteam/intercom-pwa:latest
      
      # Construir y publicar Signaling
      - name: Build and push Signaling image
        uses: docker/build-push-action@v4
        with:
          context: ./signaling
          push: true
          tags: dtiteam/intercom-signaling:latest
      
      # Construir y publicar Admin
      - name: Build and push Admin image
        uses: docker/build-push-action@v4
        with:
          context: ./admin
          push: true
          tags: dtiteam/intercom-admin:latest
      
      # Construir y publicar MiroTalkSFU
      - name: Build and push MiroTalkSFU image
        uses: docker/build-push-action@v4
        with:
          context: ./mirotalksfu
          push: true
          tags: dtiteam/intercom-mirotalksfu:latest
